/*Cores do tema*/
$padrao: #1A237E;
$fundo: #E8EAF6;

$cor100: #C5CAE9;
$cor200: #9FA8DA;
$cor300: #7986CB;
$cor400: #5C6BC0;
$cor500: #3F51B5;
$cor600: #3949AB;
$cor700: #303F9F;
$cor800: #283593;

/*Cores Padrão*/
$branco: #ffffff;
$preto: #000000;